dataset/COLET/data/
dataset/ADABase/data/
dataset/ETRA/data/

output/ETRA/figures/
output/ETRA/clustering/
output/ETRA/normalized_features/
output/ETRA/segmentation/
output/ETRA/symbolization/
output/ETRA/symbolization_GMCM/

output/ADABase/normalized_features/
output/ADABase/figures/
output/ADABase/clustering/
output/ADABase/segmentation/
output/ADABase/symbolization/