dataset/COLET/
dataset/eSEEd_v2/ 
dataset/test/

dataset/ADABase/data/
dataset/ETRA/data/


output/ETRA/clustering/
output/ETRA/normalized_features/
output/ETRA/segmentation/
output/ETRA/symbolization/
output/ETRA/symbolization_GMCM/